/* CSS for Church website*/

/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    width: 100%;
}

table {
    width: 100%;
}

/* ================================= 
  Base Layout Styles Home Page
==================================== */

.wrapper {
    line-height: 1.6;
    margin-top: 158px;
}

.main-header {
    top: 0;
    background-color: #e7f0b5;
    width: 100%;
    text-align: left;
    display: inline-block;
    position: fixed;
    z-index: 99;
}

.main-logo {
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 0;
}

.name {
    position: relative;
    left: 10px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.main-nav {
    overflow: hidden;
    /* background-color: #c2dea8;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: #fff solid 5px; */
}

.main-nav a {
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 16px 18px;
    text-decoration: none;
    /* flex-direction: column;
    border-bottom: #fff solid 5px;
    line-height: 2.5;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%; */
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbutton {
    border: none;
    outline: none;
    padding: 16px 20px;
    font-family: inherit;
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    z-index: 1;
}

.dropcontent a {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

a:link {
    color: #2869f5;
    text-decoration: none;
}

.dropcontent a:hover {
   color: #fff;
   background-color: #c2dea8;
}

.dropdown:hover .dropcontent {
    display: block;
}

.welcome {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #C0CC7E;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome-content {
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: rgb(255, 255, 255, .2);
}


section {
    width: 80%;
    margin: 0 auto;
}

.service-times tr {
    width: 80%
}

.service-times td{
    padding: 10px;
}

.footer {
    position: fixed;
    margin-top: auto;
    left: 0;
    bottom: 0;
    background-color: #c2dea8;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer p{
    margin-top: 10px;
    margin-bottom: 0;
}
.clearfix {
    content: "";
    clear: both;
    display: block;
  }


  /* ================================= 
  CSS Beliefs Page
==================================== */
.wrapper-beliefs {
    margin-top: 158px;
    padding-top: 10px;
}

#beliefs_heading {
    margin-left: 15px;
}

.beliefs_list li{
    margin: auto;
    width: 80%;
    padding: 10px;
    padding-bottom: 150px
    list-style-type: circle;
    line-height: 1.5em;
}


  /* ================================= 
  CSS Ministries Page
==================================== */
.churchPics {
    margin-top: 355px;
    width: 80%;
}

.youthGroup,
.youngAdult {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    border: #000 solid;
}

.youthPic {
    width: 100%;
    height: 100%;
}



  /* ================================= 
  CSS Contact Us Page
==================================== */
.wrapper-contact-us {
    margin-top: 355px;
    width: 100%;
}

.contact-heading {
    margin: auto;
    width: 80%;
}

.contact_heading {
    text-align: center;
}

.contact_paragraph {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 25px;
}

.contact-form {
    margin: auto;
    width: 90%;
}

form {
    margin-top: 15px;
}

form label {
    display: block;
    font-weight: bold;
    padding-left: 20px;
}

form input,
     textarea{ 
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

form textarea {
    resize: none;
    height: 150px;
}

button{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    padding: 19px 39px 18px 39px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
/* ================================= 
  Media Queries
==================================== */


@media (min-width: 600px) {

    .wrapper,
    .wrapper-beliefs,
    .wrapper-contact-us {
        margin-top: 185px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .main-nav {
        width: 100%;
        border-bottom: #fff solid 5px;
    }

    .main-nav li {
        float: left;
        width: 20%;
        border-bottom: none;

    }

    .main-nav li a {
        text-align: center;
        padding: 15px 10px;
    }

}


@media (min-width: 768px) {

    .wrapper,
    .wrapper-beliefs,
    .wrapper-contact-us {
        margin-top: 158px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .main-nav {
        width: 100%;
        border-bottom: #fff solid 5px;
    }

    .main-nav li {
        float: left;
        width: 20%;
        border-bottom: none;

    }

    .main-nav li a {
        text-align: center;
        padding: 15px 20px;
    }

}


@media (min-width: 1068px) {

    .wrapper,
    .wrapper-beliefs,
    .wrapper-contact-us  {
        margin-top: 158px;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    .main-nav {
        width: 100%;
        border-bottom: #fff solid 5px;
    }

    .main-nav li {
        float: left;
        width: 20%;
        border-bottom: none;

    }

    .main-nav li a {
        text-align: center;
        padding: 15px 20px;
    }

}