/* CSS for Church website*/

/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    position: relative;
    left: 10px;
}

/* ================================= 
  Base Layout Styles
==================================== */

.wrapper {
    min-height: 100%;
    line-height: 1.6;
    margin-top: 139px;
}

.main-header {
    top: 0;
    background-color: #e7f0b5;
    width: 100%;
    text-align: Left;
    display: inline-block;
    position: fixed;
}

.main-logo {
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 0;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.main-nav {
    background-color: #c2dea8;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    float: right;
}

.main-nav li{
    display: inline-block;
    padding-right: 10px;
}

a:link {
    color: #2869f5;
    text-decoration: none;
}

a:hover {
   color: #fff;
}

.welcome {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(images/congregation.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.welcome-content {
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: rgb(255, 255, 255, .2);
}


section {
    width: 80%;
    margin: 0 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #c2dea8;
    width: 100%;
    text-align: center;
}


.clearfix {
    content: "";
    clear: both;
    display: block;
  }

/* ================================= 
  Media Queries
==================================== */

